force-app/main/default/flows/Activate_Multiple_Jobs.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Add_records_to_list_to_insert</name>
        <label>Add records to list to insert</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Jobopeningrecordstoinsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>JobopeningrecordtoinsertTemp</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>iterate_landing_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>initialize_job_opening_record</name>
        <label>initialize job opening record</label>
        <locationX>264</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>JobopeningrecordtoinsertTemp.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>iterate_landing_records.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobopeningrecordtoinsertTemp.Job_Expiry_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <dateValue>2024-12-31</dateValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobopeningrecordtoinsertTemp.Benefits__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>iterate_landing_records.Benefits__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobopeningrecordtoinsertTemp.Company_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>iterate_landing_records.Company_Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobopeningrecordtoinsertTemp.Company_URL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>iterate_landing_records.Company_URL__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobopeningrecordtoinsertTemp.Company_Website__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>iterate_landing_records.company_website__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobopeningrecordtoinsertTemp.Employer_Size__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>iterate_landing_records.Employer_Size__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobopeningrecordtoinsertTemp.Job_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>iterate_landing_records.Job_Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobopeningrecordtoinsertTemp.Job_Created_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>iterate_landing_records.Job_Posted_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobopeningrecordtoinsertTemp.Job_Title__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>iterate_landing_records.Job_Title__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobopeningrecordtoinsertTemp.Job_URL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>iterate_landing_records.Job_URL__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobopeningrecordtoinsertTemp.Rating__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>iterate_landing_records.Rating__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobopeningrecordtoinsertTemp.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>iterate_landing_records.Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobopeningrecordtoinsertTemp.Company_Revenue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>iterate_landing_records.Company_Revenue__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_records_to_list_to_insert</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Activate Multiple Jobs {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Activate Multiple Jobs</label>
    <loops>
        <name>iterate_landing_records</name>
        <label>iterate landing records</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>get_landing_record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>initialize_job_opening_record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_job_opening</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Insert_job_opening</name>
        <label>Insert job opening</label>
        <locationX>176</locationX>
        <locationY>650</locationY>
        <connector>
            <targetReference>test</targetReference>
        </connector>
        <inputReference>Jobopeningrecordstoinsert</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_landing_record</name>
        <label>get landing record</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>iterate_landing_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Job_Landing__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>test</name>
        <label>test</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>display</name>
            <fieldText>&lt;p&gt;Selected Jobs have been successfully activated.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_landing_record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Jobopeningrecordstoinsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Job_Opening__c</objectType>
    </variables>
    <variables>
        <name>JobopeningrecordtoinsertTemp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Job_Opening__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
