force-app/main/default/flows/Activate_Jobs.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>initialize_job_opening_record</name>
        <label>initialize job opening record</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>Jobopeningrecordtoinsert.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_landing_record.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Jobopeningrecordtoinsert.Job_Expiry_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <dateValue>2024-12-31</dateValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Jobopeningrecordtoinsert.Benefits__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_landing_record.Benefits__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Jobopeningrecordtoinsert.Company_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_landing_record.Company_Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Jobopeningrecordtoinsert.Company_URL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_landing_record.Company_URL__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Jobopeningrecordtoinsert.Company_Website__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_landing_record.company_website__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Jobopeningrecordtoinsert.Employer_Size__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_landing_record.Employer_Size__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Jobopeningrecordtoinsert.Job_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_landing_record.Job_Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Jobopeningrecordtoinsert.Job_Created_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_landing_record.Job_Posted_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Jobopeningrecordtoinsert.Job_Title__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_landing_record.Job_Title__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Jobopeningrecordtoinsert.Job_URL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_landing_record.Job_URL__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Jobopeningrecordtoinsert.Rating__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_landing_record.Rating__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Jobopeningrecordtoinsert.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_landing_record.Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Jobopeningrecordtoinsert.Company_Revenue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_landing_record.Company_Revenue__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_job_opening</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>recLink</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Enterprise_Server_URL_510},FIND(&apos;/services&apos;,{!$Api.Enterprise_Server_URL_510}))&amp;{!Jobopeningrecordtoinsert.Id}</expression>
    </formulas>
    <interviewLabel>Activate Jobs {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Activate Jobs</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Insert_job_opening</name>
        <label>Insert job opening</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>test</targetReference>
        </connector>
        <inputReference>Jobopeningrecordtoinsert</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_landing_record</name>
        <label>get landing record</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>initialize_job_opening_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Job_Landing__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>test</name>
        <label>Display Success</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>display</name>
            <fieldText>&lt;p&gt;Job has been successfully activated &lt;a href=&quot;{!recLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;click here&lt;/a&gt; to view it.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_landing_record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Jobopeningrecordtoinsert</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Job_Opening__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
