force-app/main/default/flows/Create_a_prospect.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>64.0</apiVersion>
    <constants>
        <name>Country_Val</name>
        <dataType>String</dataType>
        <value>
            <stringValue>US</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_if_record_created</name>
        <label>Check if record created</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Success_Page</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_Prospect</leftValueReference>
                <operator>HasError</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Error</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Emp_type</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Employment_Type__c</picklistField>
        <picklistObject>ESC_NBC_Prospect__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Expected_Job_type</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Expected_Job_Type__c</picklistField>
        <picklistObject>ESC_NBC_Prospect__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Job_Title</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ESC_NBC_Job_Title__c</picklistField>
        <picklistObject>ESC_NBC_Prospect__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Pros_Source</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ESC_NBC_Prospect_Source__c</picklistField>
        <picklistObject>ESC_NBC_Prospect__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Salary_Type</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Expected_Salary_Type__c</picklistField>
        <picklistObject>ESC_NBC_Prospect__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>special</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ESC_NBC_Speciality__c</picklistField>
        <picklistObject>ESC_NBC_Prospect__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Prospect_Name_Formula</name>
        <dataType>String</dataType>
        <expression>{!Prospect_Name.firstName}+&apos; &apos;+{!Prospect_Name.lastName}</expression>
    </formulas>
    <formulas>
        <name>URL_LINK</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Enterprise_Server_URL_510}, FIND( &apos;/services&apos;, {!$Api.Enterprise_Server_URL_510})) &amp; {!Create_Prospect}</expression>
    </formulas>
    <interviewLabel>Create a prospect {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Create a prospect</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Prospect</name>
        <label>Create Prospect</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_record_created</targetReference>
        </connector>
        <inputAssignments>
            <field>ESC_NBC_Address__City__s</field>
            <value>
                <elementReference>Address.city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ESC_NBC_Address__CountryCode__s</field>
            <value>
                <elementReference>Country_Val</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ESC_NBC_Address__PostalCode__s</field>
            <value>
                <elementReference>Address.postalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ESC_NBC_Address__Street__s</field>
            <value>
                <elementReference>Address.street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ESC_NBC_Email__c</field>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ESC_NBC_First_Name__c</field>
            <value>
                <elementReference>Prospect_Name.firstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ESC_NBC_Job_Title__c</field>
            <value>
                <elementReference>JobTitle</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ESC_NBC_Last_Name__c</field>
            <value>
                <elementReference>Prospect_Name.lastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ESC_NBC_Linkedin_URL__c</field>
            <value>
                <elementReference>Linkedin_URL</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ESC_NBC_Phone__c</field>
            <value>
                <elementReference>Phone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ESC_NBC_Prospect_Source__c</field>
            <value>
                <elementReference>Source</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ESC_NBC_Prospect_Status__c</field>
            <value>
                <stringValue>In Touch</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ESC_NBC_Speciality__c</field>
            <value>
                <elementReference>Specialty</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ESC_NBC_State__c</field>
            <value>
                <elementReference>Address.province</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Employment_Type__c</field>
            <value>
                <elementReference>Employment_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expected_Job_Type__c</field>
            <value>
                <elementReference>Job_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expected_Salary_Type__c</field>
            <value>
                <elementReference>Rate_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expected_Salary__c</field>
            <value>
                <elementReference>Expected_Rate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Prospect_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Traveling_Preference__c</field>
            <value>
                <elementReference>Traveling_Distance_Preference</elementReference>
            </value>
        </inputAssignments>
        <object>ESC_NBC_Prospect__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Prospect_Record_Type</name>
        <label>Get Prospect Record Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Prospect</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Prospect (Lead database)</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ESC_NBC_Prospect__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Create_a_Prospect</name>
        <label>Create a Prospect</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>Get_Prospect_Record_Type</targetReference>
        </connector>
        <fields>
            <name>Prospect_Name</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Enter Prospect Name</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Phone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Linkedin_URL</name>
            <dataType>String</dataType>
            <fieldText>Linkedin URL</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>JobTitle</name>
            <choiceReferences>Job_Title</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Job Title</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Expected_Rate</name>
            <dataType>Currency</dataType>
            <fieldText>Expected Rate</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Rate_Type</name>
            <choiceReferences>Salary_Type</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Hourly</stringValue>
            </defaultValue>
            <fieldText>Rate Type (Hourly/Yearly)</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Job_Type</name>
            <choiceReferences>Expected_Job_type</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Full time</stringValue>
            </defaultValue>
            <fieldText>Job Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Employment_Type</name>
            <choiceReferences>Emp_type</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>W2</stringValue>
            </defaultValue>
            <fieldText>Employment Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Traveling_Distance_Preference</name>
            <dataType>String</dataType>
            <fieldText>Traveling Distance/Preference</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Source</name>
            <choiceReferences>Pros_Source</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Internal Data</stringValue>
            </defaultValue>
            <fieldText>Source</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Specialty</name>
            <choiceReferences>special</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Specialty</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Experience</name>
            <dataType>String</dataType>
            <fieldText>Experience</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Address</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>addressLabel</name>
                <value>
                    <stringValue>Address</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>addressLookupLabel</name>
                <value>
                    <stringValue>Google Search</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showAddressLookup</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Page</name>
        <label>Success Page</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success</name>
            <fieldText>&lt;p&gt;Successfully created Prospect &lt;a href=&quot;{!URL_LINK}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!Prospect_Name_Formula}&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Go Back</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_a_Prospect</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
