force-app/main/default/flows/ESC_NBC_Interview_Complete_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <decisions>
        <name>Selection</name>
        <label>Selection</label>
        <locationX>578</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Selected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_selected</targetReference>
            </connector>
            <label>Selected</label>
        </rules>
        <rules>
            <name>Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Records_rejected</targetReference>
            </connector>
            <label>Rejected</label>
        </rules>
        <rules>
            <name>Interview_Scheduled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scheduled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Scheduled_Records</targetReference>
            </connector>
            <label>Interview Scheduled</label>
        </rules>
        <rules>
            <name>Submission</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Submission</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Submission_Records</targetReference>
            </connector>
            <label>Submission</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>EndDateTime</name>
        <dataType>DateTime</dataType>
        <expression>
{!StartDateTime} + (1/24)</expression>
    </formulas>
    <formulas>
        <name>StartDateTime</name>
        <dataType>DateTime</dataType>
        <expression>{!$Record.Interview_Date__c}</expression>
    </formulas>
    <interviewLabel>ESC_NBC_Interview_Complete_Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Submission_Interview: RR : Status Changes</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Records_rejected</name>
        <label>Update Rejected</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Prospect__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ESC_NBC_Prospect_Status__c</field>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </inputAssignments>
        <object>ESC_NBC_Prospect__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Whenever Interview status is changed, it updates prospect status</description>
        <name>Update_Scheduled_Records</name>
        <label>Update Scheduled Records</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Prospect__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ESC_NBC_Prospect_Status__c</field>
            <value>
                <stringValue>Interviewing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ESC_NBC_Sales_Rep__c</field>
            <value>
                <elementReference>$Record.Job_Opening__r.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>ESC_NBC_Prospect__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_selected</name>
        <label>Mark Prospect as Selected</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Prospect__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ESC_NBC_Prospect_Status__c</field>
            <value>
                <stringValue>Selected</stringValue>
            </value>
        </inputAssignments>
        <object>ESC_NBC_Prospect__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Whenever Interview status is changed, it updates prospect status</description>
        <name>Update_Submission_Records</name>
        <label>Update Submission Records</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Prospect__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ESC_NBC_Prospect_Status__c</field>
            <value>
                <stringValue>Submission</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ESC_NBC_Sales_Rep__c</field>
            <value>
                <elementReference>$Record.Job_Opening__r.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>ESC_NBC_Prospect__c</object>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Selection</targetReference>
        </connector>
        <filterFormula>ISCHANGED({!$Record.Status__c})||ISNEW()</filterFormula>
        <object>Interview__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
