force-app/main/default/flows/ESC_NBC_Create_Interview_Event.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <decisions>
        <name>Check_Record_Type</name>
        <label>Check Record Type</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Submission</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submission</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_a_Task</targetReference>
            </connector>
            <label>Submission</label>
        </rules>
        <rules>
            <name>Interviewing</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Interview</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_an_event</targetReference>
            </connector>
            <label>Interviewing</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>EndDateTime</name>
        <dataType>DateTime</dataType>
        <expression>
{!StartDateTime} + (1/24)</expression>
    </formulas>
    <formulas>
        <name>Interview_Description</name>
        <dataType>String</dataType>
        <expression>&apos;Interview scheduled for \nProspect: &apos;+{!$Record.Prospect__r.Name}+&apos;\nClient Name:&apos;+{!$Record.Job_Opening__r.Client__c}+&apos;\n Date:&apos;+TEXT({!$Record.Interview_Date__c})+&apos;\nZoom Link:&apos;+{!$Record.Zoom_Interview_Link__c}</expression>
    </formulas>
    <formulas>
        <name>Interview_Subject</name>
        <dataType>String</dataType>
        <expression>LEFT(&apos;Interview: &apos;+{!$Record.Prospect__r.Name}+&apos;-&apos;+{!$Record.Job_Opening__r.Client__c},80)</expression>
    </formulas>
    <formulas>
        <name>StartDateTime</name>
        <dataType>DateTime</dataType>
        <expression>{!$Record.Interview_Date__c}</expression>
    </formulas>
    <formulas>
        <name>Task_Description</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName}+&apos; &apos;+{!$User.LastName}+&apos; would like to submit prospect &apos;+{!$Record.Prospect__r.Name}+&apos; to Client &apos;+{!$Record.Job_Opening__r.Client__c}+&apos;. Please work with the recruiter to submit the Prospect profile.&apos;</expression>
    </formulas>
    <formulas>
        <name>Task_Subject</name>
        <dataType>String</dataType>
        <expression>LEFT(&apos;Submission: &apos;+{!$Record.Prospect__r.Name}+&apos;-&apos;+{!$Record.Job_Opening__r.Client__c},80)</expression>
    </formulas>
    <formulas>
        <name>Tomm_Date</name>
        <dataType>DateTime</dataType>
        <expression>NOW() + 1</expression>
    </formulas>
    <interviewLabel>ESC_NBC_Create_Interview_Event {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ESC_NBC_Create_Interview_Event</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_a_Task</name>
        <label>Create a Task</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Tomm_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Task_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Job_Opening__r.Client__r.Owner.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Task_Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskSubtype</field>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Job_Opening__r.Client__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_an_event</name>
        <label>Create an event</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Interview_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DurationInMinutes</field>
            <value>
                <numberValue>60.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDateTime</field>
            <value>
                <elementReference>EndDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Job_Opening__r.Client__r.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>StartDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Interview_Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Job_Opening__r.Client__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.Interviewer_Name__c</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Record_Type</targetReference>
        </connector>
        <filterFormula>ISCHANGED({!$Record.RecordTypeId} ) || ISNEW()</filterFormula>
        <object>Interview__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
