force-app/main/default/flows/Job_Opening_Created.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <decisions>
        <name>Client_is_Empty</name>
        <label>Client is Empty</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Add_name_only</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Client__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Fields</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <description>Name Issue</description>
    <environments>Default</environments>
    <formulas>
        <name>getState</name>
        <dataType>String</dataType>
        <expression>{!$Record.Client__r.BillingState}</expression>
    </formulas>
    <formulas>
        <name>JobName</name>
        <dataType>String</dataType>
        <expression>LEFT(TEXT({!$Record.Position__c}) ,80)</expression>
    </formulas>
    <formulas>
        <name>JobName2</name>
        <dataType>String</dataType>
        <expression>LEFT(TEXT({!$Record.Position__c}) ,80)</expression>
    </formulas>
    <formulas>
        <name>JobTitle</name>
        <dataType>String</dataType>
        <expression>&quot;(&quot;+TEXT({!$Record.Job_Created_Date__c})+&quot;)&quot;+TEXT({!$Record.Position__c}) +&quot; position at &quot;+{!$Record.Client__r.Name}</expression>
    </formulas>
    <interviewLabel>Job Opening Created {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Job Opening Created</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Add_Fields</name>
        <label>Add Fields</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>Address__City__s</field>
            <value>
                <elementReference>$Record.Client__r.BillingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address__Latitude__s</field>
            <value>
                <elementReference>$Record.Client__r.BillingLatitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address__Longitude__s</field>
            <value>
                <elementReference>$Record.Client__r.BillingLongitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address__PostalCode__s</field>
            <value>
                <elementReference>$Record.Client__r.BillingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address__StateCode__s</field>
            <value>
                <elementReference>getState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address__Street__s</field>
            <value>
                <elementReference>$Record.Address__Street__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Job_Title__c</field>
            <value>
                <elementReference>JobTitle</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>JobName</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Add_name_only</name>
        <label>Add name only</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>Job_Title__c</field>
            <value>
                <elementReference>JobTitle</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>JobName2</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Client_is_Empty</targetReference>
        </connector>
        <object>Job_Opening__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
