force-app/main/default/flows/New_Interview.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Assign_Interview_Record_Values_from_Interview</name>
        <label>Assign Interview Record Values from Interview</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>recordToCreate.Interview_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Enter_Interview_Details</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordToCreate.Job_Opening__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Parent_Component_Selections_from_Interview.jobOpeningId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordToCreate.Prospect__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Parent_Component_Selections_from_Interview.prospectId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordToCreate.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordToCreate.Zoom_Interview_Link__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Enter_Zoom_Link.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordToCreate.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>defaultRecordNameForInterview</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordToCreate.ESC_NBC_Client_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Parent_Component_Selections_from_Interview.accountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordToCreate.Interviewer_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Parent_Component_Selections_from_Interview.contactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordToCreate.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Interview_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Interview_Record_Values_from_Submission</name>
        <label>Assign Interview Record Values from Submission</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>recordToCreate.Interview_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Enter_Interview_Details</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordToCreate.Job_Opening__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Parent_Component_Selections_from_Submission.jobOpeningId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordToCreate.Prospect__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Parent_Component_Selections_from_Submission.prospectId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordToCreate.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordToCreate.Zoom_Interview_Link__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Enter_Zoom_Link.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordToCreate.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>defaultRecordNameForSubmission</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordToCreate.ESC_NBC_Client_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Parent_Component_Selections_from_Submission.accountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordToCreate.Interviewer_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Parent_Component_Selections_from_Submission.contactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordToCreate.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Submission</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Interview_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Job_Opening</name>
        <label>Assign Job Opening</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>prefillJobOpeningId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DisableJobOpening</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Record_Type_Name1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>In_Submission</name>
        <label>In Submission</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>recordToCreate.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Submission</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Submission_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Prospect_Assignment</name>
        <label>Prospect Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>prefillProspectId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DisableProspect</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Record_Type_Name1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_New_Interview_RecordId</name>
        <label>Save New Interview RecordId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>interviewId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordToCreate.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_Type_of_Record</name>
        <label>Check Type of Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Record_Type_Name1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Job_Opening</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputObjectName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Job_Opening__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Job_Opening</targetReference>
            </connector>
            <label>Job Opening</label>
        </rules>
        <rules>
            <name>Prospect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputObjectName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ESC_NBC_Prospect__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Prospect_Assignment</targetReference>
            </connector>
            <label>Prospect</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Type_Name1</name>
        <label>Record Type Name</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_Interview_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Interview</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Record_Type.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Interview</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Interview_Screen</targetReference>
            </connector>
            <label>Is_Interview</label>
        </rules>
        <rules>
            <name>Is_Submission</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Record_Type.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submission</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>In_Submission</targetReference>
            </connector>
            <label>Is_Submission</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>RecordTypeIds</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Interview__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>StatusPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status__c</picklistField>
        <picklistObject>Interview__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>defaultRecordNameForInterview</name>
        <dataType>String</dataType>
        <expression>{!getJobOpeningFromInterviewScreen.Name}&amp;&apos; - &apos;&amp;{!getProspectRecord_from_interview_screen.Name}</expression>
    </formulas>
    <formulas>
        <name>defaultRecordNameForSubmission</name>
        <dataType>String</dataType>
        <expression>{!getJobOpeningFromSubmissionScreen.Name}&amp;&apos; - &apos;&amp;{!getProspectRecord_from_submission.Name}</expression>
    </formulas>
    <formulas>
        <name>errorForInterview</name>
        <dataType>Boolean</dataType>
        <expression>AND(
  NOT(ISBLANK({!Parent_Component_Selections_from_Interview.jobOpeningId})),
  NOT(ISBLANK({!Parent_Component_Selections_from_Interview.prospectId}))
)</expression>
    </formulas>
    <formulas>
        <name>errorForSubmission</name>
        <dataType>Boolean</dataType>
        <expression>AND(
  NOT(ISBLANK({!Parent_Component_Selections_from_Submission.jobOpeningId})),
  NOT(ISBLANK({!Parent_Component_Selections_from_Submission.prospectId}))
)</expression>
    </formulas>
    <formulas>
        <name>getSobjectName</name>
        <dataType>String</dataType>
        <expression>IF(
    LEFT({!inputRecordId}, 3) = &quot;a02&quot;,
    &quot;Job_Opening__c&quot;,
    &quot;&quot;
)</expression>
    </formulas>
    <interviewLabel>New Interview {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>New Interview</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Interview_record</name>
        <label>Create Interview record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Save_New_Interview_RecordId</targetReference>
        </connector>
        <inputReference>recordToCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Record_Type</name>
        <label>Get Record Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Type_of_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Interview__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputRecordTypeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getJobOpeningFromInterviewScreen</name>
        <label>getJobOpeningFromInterviewScreen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getProspectRecord_from_interview_screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Parent_Component_Selections_from_Interview.jobOpeningId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Job_Opening__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getJobOpeningFromSubmissionScreen</name>
        <label>getJobOpeningFromSubmissionScreen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getProspectRecord_from_submission</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Parent_Component_Selections_from_Submission.jobOpeningId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Job_Opening__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getProspectRecord_from_interview_screen</name>
        <label>getProspectRecord_from_interview_screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Interview_Record_Values_from_Interview</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Parent_Component_Selections_from_Interview.prospectId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ESC_NBC_Prospect__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getProspectRecord_from_submission</name>
        <label>getProspectRecord_from_submission</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Interview_Record_Values_from_Submission</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Parent_Component_Selections_from_Submission.prospectId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ESC_NBC_Prospect__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Interview_Screen</name>
        <label>Interview Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>getJobOpeningFromInterviewScreen</targetReference>
        </connector>
        <fields>
            <name>Parent_Component_Selections_from_Interview</name>
            <extensionName>c:esc_nbc_Create_Interview_Search</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <elementReference>inputObjectName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>inputRecordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sObjectName</name>
                <value>
                    <elementReference>inputObjectName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordTypeName</name>
                <value>
                    <elementReference>Get_Record_Type.Name</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <validationRule>
                <errorMessage>&lt;p&gt;Both Prospect as well as Interview has to be selected for creating an Scheduling an Interview...&lt;/p&gt;</errorMessage>
                <formulaExpression>{!errorForInterview}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Interview_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Interview_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Enter_Interview_Details</name>
                    <dataType>DateTime</dataType>
                    <fieldText>Enter Interview Details</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Interview</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Interview_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Enter_Zoom_Link</name>
                    <extensionName>flowruntime:url</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Meeting Link</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Interview</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Schedule Interview</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Submission_Screen</name>
        <label>Submission Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>getJobOpeningFromSubmissionScreen</targetReference>
        </connector>
        <fields>
            <name>Parent_Component_Selections_from_Submission</name>
            <extensionName>c:esc_nbc_Create_Interview_Search</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <elementReference>inputObjectName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>inputRecordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sObjectName</name>
                <value>
                    <elementReference>inputObjectName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordTypeName</name>
                <value>
                    <elementReference>Get_Record_Type.Name</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <validationRule>
                <errorMessage>&lt;p&gt;Please fill both, Job Interview as well as Prospect to Save Submission...&lt;/p&gt;</errorMessage>
                <formulaExpression>{!errorForSubmission}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Submission_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Submission_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_Enter_Interview_Details</name>
                    <dataType>DateTime</dataType>
                    <fieldText>Enter Interview Details</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Interview</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Submission_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_Enter_Zoom_Link</name>
                    <extensionName>flowruntime:url</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Meeting Link</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Interview</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save Submission</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Record_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>DisableJobOpening</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>DisableProspect</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>inputObjectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>getSobjectName</elementReference>
        </value>
    </variables>
    <variables>
        <name>inputRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>No Value</stringValue>
        </value>
    </variables>
    <variables>
        <name>inputRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>interviewId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IsActiveJobSelected</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>PrefillInterviewerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>prefillJobOpeningId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>prefillProspectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Interview__c</objectType>
    </variables>
</Flow>
