force-app/main/default/flows/Prospect_Record_Type_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Assign_Active_Record_Type</name>
        <label>Assign Active Record Type</label>
        <locationX>2118</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>Active_RT_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_record_types.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_record_types</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Employee_Record_Type</name>
        <label>Assign Employee Record Type</label>
        <locationX>2382</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>Employee_RT_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_record_types.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_record_types</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Prospect_Record_Type</name>
        <label>Assign Prospect Record Type</label>
        <locationX>1854</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>Prospect_RT_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_record_types.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_record_types</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_Owner_of_Active_RT</name>
        <label>Change Owner of Active RT</label>
        <locationX>1634</locationX>
        <locationY>1211</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Activation_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ESC_NBC_Prospect_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active_Prospect</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Change_Status_and_Record_Type</name>
        <label>Change Status and Record Type</label>
        <locationX>2426</locationX>
        <locationY>1211</locationY>
        <assignmentItems>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Prospect_RT_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ESC_NBC_Prospect_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Prospect</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Employee_Status</name>
        <label>Employee Status</label>
        <locationX>1898</locationX>
        <locationY>1211</locationY>
        <assignmentItems>
            <assignToReference>$Record.ESC_NBC_Prospect_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Employee</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>ESC_Owner</name>
        <label>ESC Owner and Prospect Status</label>
        <locationX>1370</locationX>
        <locationY>1211</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ESCId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ESC_NBC_Prospect_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Prospect</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Assign_Record_Type_Ids</name>
        <label>Assign Record Type Ids</label>
        <locationX>2250</locationX>
        <locationY>611</locationY>
        <defaultConnector>
            <targetReference>Loop_record_types</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Prospect_RT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_record_types.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prospect (Lead database)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Prospect_Record_Type</targetReference>
            </connector>
            <label>Prospect RT</label>
        </rules>
        <rules>
            <name>Active_RT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_record_types.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active Prospect</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Active_Record_Type</targetReference>
            </connector>
            <label>Active RT</label>
        </rules>
        <rules>
            <name>Employee_RT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_record_types.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Employee</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Employee_Record_Type</targetReference>
            </connector>
            <label>Employee RT</label>
        </rules>
    </decisions>
    <decisions>
        <name>Change_Owner_to_ESC</name>
        <label>Change Owner to ESC</label>
        <locationX>2558</locationX>
        <locationY>1103</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Change_to_ESC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ESCId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Status_and_Record_Type</targetReference>
            </connector>
            <label>Change to ESC</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check Status Changes</description>
        <name>Check_Record_Type</name>
        <label>Check Status Changes and New Record</label>
        <locationX>578</locationX>
        <locationY>1103</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Prospect_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ESC_NBC_Prospect_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prospect</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Prospect_Status</targetReference>
            </connector>
            <label>Prospect Status</label>
        </rules>
        <rules>
            <name>In_Touch_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ESC_NBC_Prospect_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Touch</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_In_Touch_Status</targetReference>
            </connector>
            <label>In Touch Status</label>
        </rules>
        <rules>
            <name>Active_Prospect</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ESC_NBC_Prospect_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active_Prospect</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ESC_NBC_Prospect_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Interviewing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ESC_NBC_Prospect_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Selected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ESC_NBC_Prospect_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Prospect_RT_Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Active_Record_Type</targetReference>
            </connector>
            <label>Active Prospect</label>
        </rules>
        <rules>
            <name>Employee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ESC_NBC_Prospect_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Employee</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Employee_Record_Type</targetReference>
            </connector>
            <label>Employee</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Record_Type_Change</name>
        <label>Check Record Type Change</label>
        <locationX>1766</locationX>
        <locationY>1103</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Change_to_Prospect_RT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Prospect_RT_Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ESC_Owner</targetReference>
            </connector>
            <label>Change to Prospect RT</label>
        </rules>
        <rules>
            <name>Change_to_Active_RT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Active_RT_Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Prospect_RT_Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Owner_of_Active_RT</targetReference>
            </connector>
            <label>Change to Active from Prospect</label>
        </rules>
        <rules>
            <name>Change_Employee_RT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Employee_RT_Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Employee_Status</targetReference>
            </connector>
            <label>Change to Employee RT</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_What_Changed</name>
        <label>Check what changed</label>
        <locationX>1766</locationX>
        <locationY>995</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Decision_3</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.ESC_NBC_Prospect_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.ESC_NBC_Prospect_Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Record_Type</targetReference>
            </connector>
            <label>Change in Status</label>
        </rules>
        <rules>
            <name>Change_in_Record_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.RecordTypeId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.RecordTypeId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Record_Type_Change</targetReference>
            </connector>
            <label>Change in Record Type</label>
        </rules>
        <rules>
            <name>Change_in_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Owner_to_ESC</targetReference>
            </connector>
            <label>Change in Owner</label>
        </rules>
    </decisions>
    <description>Adding Logic for RT, Status and Owner</description>
    <environments>Default</environments>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>{!$Record.Id}    Prospect Record Type Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Prospect Record Type Update</label>
    <loops>
        <name>Loop_record_types</name>
        <label>Loop record types</label>
        <locationX>1766</locationX>
        <locationY>503</locationY>
        <collectionReference>Get_Prospect_RecordType</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Record_Type_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_What_Changed</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_ESC_User_Id</name>
        <label>Get ESC User Id</label>
        <locationX>1766</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Prospect_RecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>huma.thekedar@everyspecialchild.com</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>ESCId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Prospect_RecordType</name>
        <label>Get All Prospect Record Types</label>
        <locationX>1766</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_record_types</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ESC_NBC_Prospect__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Active_Record_Type</name>
        <label>Update Active Record Type</label>
        <locationX>578</locationX>
        <locationY>1211</locationY>
        <inputAssignments>
            <field>Activation_Date__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Active_RT_Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Employee_Record_Type</name>
        <label>Update Employee Record Type</label>
        <locationX>842</locationX>
        <locationY>1211</locationY>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Employee_RT_Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_In_Touch_Status</name>
        <label>Update In Touch Status</label>
        <locationX>314</locationX>
        <locationY>1211</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Prospect_RT_Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Prospect_Status</name>
        <label>Update Prospect Status</label>
        <locationX>50</locationX>
        <locationY>1211</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>ESCId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Prospect_RT_Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1640</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_ESC_User_Id</targetReference>
        </connector>
        <filterFormula>ISCHANGED({!$Record.ESC_NBC_Prospect_Status__c}) || ISNEW() || ISCHANGED({!$Record.RecordTypeId})||ISCHANGED({!$Record.OwnerId})</filterFormula>
        <object>ESC_NBC_Prospect__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Active_RT_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Employee_RT_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ESCId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Prospect_RT_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
